PORT=3000

ALLOWED_HOSTS=localhost,{{ cookiecutter.domain_name }}

{% if cookiecutter.use_postgres == 'y' -%}
DATABASE_URL=postgres://{{ cookiecutter.package_name }}:pgpass@localhost:5432/{{ cookiecutter.package_name }}
{%- endif %}

{% if cookiecutter.use_redis == 'y' -%}
REDIS_URL=redis://127.0.0.1:6379/
{%- endif %}

SECRET=beepboopbeepchangethis
NODE_ENV=development
