PORT=3000

ALLOWED_HOSTS=localhost,{{ cookiecutter.domain_name }}

{% if cookiecutter.use_postgres == 'y' -%}
DATABASE_URL=postgres://pguser:pgpass@db/{{ cookiecutter.package_name }}
{%- endif %}

{% if cookiecutter.use_postgres == 'y' -%}
REDIS_URL=redis://127.0.0.1:6379/
{%- endif %}

SECRET=fldkjwop4e9i0p2934pifw049f1038ierlqk
NODE_ENV=development
